
body {
  background-color: #5C6B80;
  padding-top: 20px;
}

.ui.borderless.centered.menu {
  background-color: #5C6B80;
  border: none;
  box-shadow: none;

}

.ui.borderless.menu {
  background-color: #5C6B80;
  border: none;
  box-shadow: none;

}

#menutext {
  color: white;
  font-family: "Lato";
  font-size: 20px;
}

#footertext {
  color: rgb(252, 212, 117);
  font-family: "Lato";
  font-size: 20px
}